/*
 * tree-view-panes patch for One Dark
 * https://github.com/susisu/tree-view-panes-styles/blob/master/styles/one-dark.less
 */

/**************************************************************/
@import "ui-variables";

.tree-view-panes {
  .list-item-pane {
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      margin-left: -@component-icon-padding;
      height: 2.5em;
      width: 2px;
      background: #568af2;
      opacity: 0;
      transition: opacity .16s;
    }

    &.active::before {
      opacity: 1;
      transition: opacity .32s;
    }
  }

  .header .name {
    line-height: 2.5em;
  }

  .list-item.selected::before {
    background-color: #2d2d2d;
  }

  .list-item.drag-over::after {
    border-bottom: 2px solid #568af2;
  }
}
/**************************************************************/
